footer {
  height: 10rem;
  background-color: #e6aaab;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a p {
  margin: 0;
}
