.smtp-bar {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-head {
  font-size: 5vmin;
}

.mybtn {
  width: 100%;
  height: 3rem;
}

@media (max-width: 768px) {
 .smtp-bar {
   min-width: 80%;
 }
}
